# ==============================================================================
# Python
#
# General Python files and directories to ignore.
# Sourced from https://github.com/github/gitignore/blob/main/Python.gitignore
# ==============================================================================

# local environment
gcenv.sh

# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a CI server
#  and may contain sensitive information.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# ==============================================================================
# Virtual Environments
#
# Common virtual environment directories.
# ==============================================================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.virtualenv/

# ==============================================================================
# Visual Studio Code
#
# VS Code specific settings and cache files.
# You may want to track a common settings.json for the team.
# ==============================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# ==============================================================================
# OS-specific files
# ==============================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db